html,
body {
  border: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

input {
  padding: 6px;
  margin: 12px;
  min-width: 30px;
  border-bottom: 1px solid black;
}

/* input[type='number']::-webkit-inner-spin-button::before {
  top: 7px;
}
input[type='number']::-webkit-inner-spin-button::after {
  bottom: 7px;
  transform: rotate(180deg);
} */
