html,
body {
  border: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

input {
  display: block;
  margin: 6px 0 6px 0;
  max-width: 500px;
  padding: 2px 4px;
  font-size: 0.8em;
  font-family: 'Source Code Pro', monospace;
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px,
    rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border: 0;
  outline: 0;
  border-radius: 4px;
  background: white;
}

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
  text-decoration: none;
  cursor: pointer;
}
